<div class="container" stylee="background-color:red;">
		<h2>Crear cliente</h2>
		<div class="card">
			<form action="" method="" class="col s12" style="padding:20px;">
				<div class="row">
					<div class="input-field col s11" >
						<input placeholder="Placeholder" id="first_name" type="text" class="validate">
						<label for="first_name">Nombre</label>
					</div>
					<div class="input-field col s1" >
						<input placeholder="Placeholder" id="first_name" type="text" class="validate">
						<label for="first_name">NIF</label>
					</div>
					<div class="input-field col s8" >
						<input placeholder="Placeholder" id="first_name" type="text" class="validate">
						<label for="first_name">Dirección</label>
					</div>
					<div class="input-field col s4" >
						<input placeholder="Placeholder" id="first_name" type="text" class="validate">
						<label for="first_name">Población</label>
                    </div>
					<div class="input-field col s6" >
						<input placeholder="Placeholder" id="first_name" type="text" class="validate">
						<label for="first_name">Provincia</label>
                    </div>                    
					<div class="input-field col s1" >
						<input placeholder="Placeholder" id="first_name" type="text" class="validate">
						<label for="first_name">Código Postal</label>
                    </div>
                    <div class="col s12">
                        <button class="btn">Crear cliente</button>
                    </div>
					</form>
				</div>
			</div>
