{% extends 'base.html.twig' %}

{% block title %}Hello GestorController!
{% endblock %}

{% block body %}
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Gestor Facturas</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a>Mis Facturas</a>
				</li>            
				<li>
					<a>Crear Factura</a>
				</li>
				<li>
					<a>Añadir Cliente</a>
				</li>
				<li>
					<a>Mis datos</a>
				</li>
				<li>
					<a>Mis datos</a>
				</li>                
			</ul>
		</div>
	</nav>

	
    <div style="display: flex; flex-direction:column">    
        <div>
            <h3>Factura</h3>
            <span>Nº Factura: 32</span><br/>
            <span>Fecha: 21/02/1998</span><br/>
        </div>
        <div></div>
    </div>


    <div></div>
    <div></div>
		{% endblock %}
