{% extends 'base.html.twig' %}

{% block title %}Hello GestorController!
{% endblock %}

{% block body %}


	
    <div style="display: flex; flex-direction:column">    
        <div>
            <h3>Factura</h3>
            <span>Nº Factura: 32</span><br/>
            <span>Fecha: 21/02/1998</span><br/>
        </div>
        <div></div>
    </div>


    <div></div>
    <div></div>
		{% endblock %}
